body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

a{
    text-decoration: none;
}

a:hover{
    scale: 1.5;
}

a:active{
    text-decoration-color: aquamarine;
    text-shadow: 2px;
    text-transform: uppercase;
}

button{
    background-color: white;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}